@import '@fontsource/caprasimo/400.css';
@import '@fontsource/figtree/400.css';
@import '@fontsource/figtree/500.css';
@import '@fontsource/figtree/600.css';
@import '@fontsource/figtree/700.css';
@import 'bootstrap/dist/css/bootstrap-utilities.min.css';
@import '../theme/bootstrapVariables.css';

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

input,
textarea,
[contenteditable='true'] {
  user-select: text;
  -webkit-user-select: text;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bs-body-bg);
}

:focus-visible {
  outline: 3px solid #8c491a;
  outline-offset: 2px;
}
